In [6]:
import pandas as pd
import pyodbc

In [7]:
import warnings
warnings.filterwarnings("ignore")

In [8]:
#OBS: COLOCAR DADOS DA CONEX√ÉO, EU USEI O MySQL
dados_conexao = ( 
    "Driver={Devart ODBC Driver for MySQL};"
    "User ID=****;"
    "Password=****;"
    "Server=****;"
    "Database=copa;"
)

In [9]:
con = pyodbc.connect(dados_conexao)

In [10]:
df = pd.read_sql_query('''SELECT N_GRUPO,	
        MAX(CASE WHEN GRUPO = 'A' THEN TIMES else null end) as A,
        MAX(CASE WHEN GRUPO = 'B' THEN TIMES else null end) as B,
        MAX(CASE WHEN GRUPO = 'C' THEN TIMES else null end) as C,
        MAX(CASE WHEN GRUPO = 'D' THEN TIMES else null end) as D,
		MAX(CASE WHEN GRUPO = 'E' THEN TIMES else null end) as E,
        MAX(CASE WHEN GRUPO = 'F' THEN TIMES else null end) as F,
        MAX(CASE WHEN GRUPO = 'G' THEN TIMES else null end) as G,
        MAX(CASE WHEN GRUPO = 'H' THEN TIMES else null end) as H
FROM TIMES_E_SCORES
GROUP BY N_GRUPO
ORDER BY N_GRUPO;''', con)

In [11]:
display(df)

,N_GRUPO,A,B,C,D,E,F,G,H
0,1,CAT|1442.0,EUA|1635.0,ARG|1770.7,AUS|1483.7,ALE|1659.0,BEL|1821.9,BRA|1837.6,COR|1526.0
1,2,EQU|1463.7,ING|1737.5,ARA|1435.7,DIN|1665.5,COS|1500.1,CAN|1473.8,CAM|1485.0,GAN|1393.5
2,3,HOL|1679.4,IRA|1558.6,MEX|1649.6,FRA|1764.9,ESP|1716.9,CRO|1632.2,SUI|1621.4,POR|1678.7
3,4,SEN|1584.6,GAL|1582.1,POL|1546.2,TUN|1507.9,JAP|1554.7,MAR|1558.4,SER|1549.5,URU|1641.0

In [13]:
df = df.drop(['N_GRUPO'], axis = 1)

In [14]:
display(df)

,A,B,C,D,E,F,G,H
0,CAT|1442.0,EUA|1635.0,ARG|1770.7,AUS|1483.7,ALE|1659.0,BEL|1821.9,BRA|1837.6,COR|1526.0
1,EQU|1463.7,ING|1737.5,ARA|1435.7,DIN|1665.5,COS|1500.1,CAN|1473.8,CAM|1485.0,GAN|1393.5
2,HOL|1679.4,IRA|1558.6,MEX|1649.6,FRA|1764.9,ESP|1716.9,CRO|1632.2,SUI|1621.4,POR|1678.7
3,SEN|1584.6,GAL|1582.1,POL|1546.2,TUN|1507.9,JAP|1554.7,MAR|1558.4,SER|1549.5,URU|1641.0

In [15]:
import random

class Team:
  BEST_SCORE = 1837.6
  def __init__(self, cellData):
    teamData = cellData.split('|')
    self.name = teamData[0]
    self.score = float(teamData[1])

  def motivate(self):
    self.lastMotivation = random.uniform(70, (self.score * 100) / Team.BEST_SCORE)
    return self.lastMotivation

In [16]:
bestTeamsByGroup = {}

for label, content in df.items():
  team1 = Team(content[0])
  team2 = Team(content[1])
  team3 = Team(content[2])
  team4 = Team(content[3])

  bestTeamsByGroup[label] = sorted([team1, team2, team3, team4], key = Team.motivate, reverse = True)

In [17]:
for grupo, motivatedTeams in bestTeamsByGroup.items():
  print(f'Grupo {grupo}: ', end = "")
  for team in motivatedTeams:
    print(f'{team.name} ({team.lastMotivation:.2f}) ', end="")
  print()

Grupo A: SEN (77.33) EQU (77.24) HOL (75.47) CAT (71.39)
Grupo B: ING (92.21) EUA (85.26) GAL (74.60) IRA (71.69)
Grupo C: ARA (77.51) ARG (77.29) MEX (76.87) POL (73.69)
Grupo D: TUN (79.98) AUS (77.20) FRA (72.85) DIN (70.54)
Grupo E: JAP (82.44) ESP (81.48) ALE (76.11) COS (73.79)
Grupo F: CRO (76.88) MAR (73.20) BEL (71.73) CAN (71.64)
Grupo G: BRA (92.74) SUI (86.18) SER (77.01) CAM (76.33)
Grupo H: URU (87.09) POR (85.37) COR (76.76) GAN (71.27)

In [18]:
team1A = bestTeamsByGroup['A'][0]
team2A = bestTeamsByGroup['A'][1]
team1B = bestTeamsByGroup['B'][0]
team2B = bestTeamsByGroup['B'][1]
team1C = bestTeamsByGroup['C'][0]
team2C = bestTeamsByGroup['C'][1]
team1D = bestTeamsByGroup['D'][0]
team2D = bestTeamsByGroup['D'][1]
team1E = bestTeamsByGroup['E'][0]
team2E = bestTeamsByGroup['E'][1]
team1F = bestTeamsByGroup['F'][0]
team2F = bestTeamsByGroup['F'][1]
team1G = bestTeamsByGroup['G'][0]
team2G = bestTeamsByGroup['G'][1]
team1H = bestTeamsByGroup['H'][0]
team2H = bestTeamsByGroup['H'][1]

In [19]:
quarter1 = team1A if team1A.motivate() > team2B.motivate() else team2B
quarter2 = team1C if team1C.motivate() > team2D.motivate() else team2D
quarter3 = team1E if team1E.motivate() > team2F.motivate() else team2F
quarter4 = team1G if team1G.motivate() > team2H.motivate() else team2H
quarter5 = team1B if team1B.motivate() > team2A.motivate() else team2A
quarter6 = team1D if team1D.motivate() > team2C.motivate() else team2C
quarter7 = team1F if team1F.motivate() > team2E.motivate() else team2E
quarter8 = team1H if team1H.motivate() > team2G.motivate() else team2G

In [20]:
print(f'{team1A.name} ({team1A.lastMotivation:.2f}) x {team2B.name} ({team2B.lastMotivation:.2f})')
print(f'{team1C.name} ({team1C.lastMotivation:.2f}) x {team2D.name} ({team2D.lastMotivation:.2f})')
print(f'{team1E.name} ({team1E.lastMotivation:.2f}) x {team2F.name} ({team2F.lastMotivation:.2f})')
print(f'{team1G.name} ({team1G.lastMotivation:.2f}) x {team2H.name} ({team2H.lastMotivation:.2f})')
print(f'{team1B.name} ({team1B.lastMotivation:.2f}) x {team2A.name} ({team2A.lastMotivation:.2f})')
print(f'{team1D.name} ({team1D.lastMotivation:.2f}) x {team2C.name} ({team2C.lastMotivation:.2f})')
print(f'{team1F.name} ({team1F.lastMotivation:.2f}) x {team2E.name} ({team2E.lastMotivation:.2f})')
print(f'{team1H.name} ({team1H.lastMotivation:.2f}) x {team2G.name} ({team2G.lastMotivation:.2f})')

SEN (77.26) x EUA (83.95)
ARA (73.58) x AUS (74.38)
JAP (81.39) x MAR (76.74)
BRA (81.68) x POR (84.49)
ING (86.88) x EQU (75.56)
TUN (79.74) x ARG (88.08)
CRO (74.84) x ESP (88.37)
URU (83.39) x SUI (73.74)

In [21]:
semi1 = quarter1 if quarter1.motivate() > quarter2.motivate() else quarter2
semi2 = quarter3 if quarter3.motivate() > quarter4.motivate() else quarter4
semi3 = quarter5 if quarter5.motivate() > quarter6.motivate() else quarter6
semi4 = quarter7 if quarter7.motivate() > quarter8.motivate() else quarter8

In [22]:
print(f'{quarter1.name} ({quarter1.lastMotivation:.2f}) x {quarter2.name} ({quarter2.lastMotivation:.2f})')
print(f'{quarter3.name} ({quarter3.lastMotivation:.2f}) x {quarter4.name} ({quarter4.lastMotivation:.2f})')
print(f'{quarter5.name} ({quarter5.lastMotivation:.2f}) x {quarter6.name} ({quarter6.lastMotivation:.2f})')
print(f'{quarter7.name} ({quarter7.lastMotivation:.2f}) x {quarter8.name} ({quarter8.lastMotivation:.2f})')

EUA (70.60) x AUS (76.73)
JAP (78.06) x POR (86.41)
ING (76.86) x ARG (72.33)
ESP (71.40) x URU (89.08)

In [23]:
final1 = semi1 if semi1.motivate() > semi2.motivate() else semi2
terceiro1 = semi1 if semi1.lastMotivation < semi2.lastMotivation else semi2

final2 = semi3 if semi3.motivate() > semi4.motivate() else semi4
terceiro2 = semi3 if semi3.lastMotivation < semi4.lastMotivation else semi4  

print(f'{semi1.name} ({semi1.lastMotivation:.2f}) x {semi2.name} ({semi2.lastMotivation:.2f})')
print(f'{semi3.name} ({semi3.lastMotivation:.2f}) x {semi4.name} ({semi4.lastMotivation:.2f})')

AUS (72.39) x POR (84.32)
ING (83.97) x URU (87.39)

In [24]:
winner = final1 if final1.motivate() > final2.motivate() else final2
second = final1 if final1.lastMotivation < final2.lastMotivation else final2
third = terceiro1 if terceiro1.motivate() > terceiro2.motivate() else terceiro2
fourth = terceiro1 if terceiro1.lastMotivation < terceiro2.lastMotivation else terceiro2

In [25]:
print(f'1¬∫: {winner.name} ({winner.lastMotivation:.2f})')
print(f'2¬∫: {second.name} ({second.lastMotivation:.2f})')
print(f'3¬∫: {third.name} ({third.lastMotivation:.2f})')
print(f'4¬∫: {fourth.name} ({fourth.lastMotivation:.2f})')

1¬∫: URU (87.88)
2¬∫: POR (82.89)
3¬∫: AUS (78.98)
4¬∫: ING (73.90)

In [ ]:
con.close()